html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  grid-area: 1 / 1 / 6 / 2;
  background-color: #1992d4;
  color: aliceblue;
  padding: 1em;
  font-weight: bold;
}

.sidebar .top-nav > div,
.sidebar .bottom-nav > div,
.dashboard {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  justify-items: center;
  gap: 28px;
}

.sidebar-navigation {
  font-size: 1.3em;
}

.dashboard h1,
.sidebar p {
  grid-area: 1 / 2;
  justify-self: flex-start;
}

.dashboard svg,
.sidebar svg {
  grid-area: 1 / 1;
  align-items: center;
}

.dashboard {
  gap: 1em;
}

.dashboard svg {
  height: 3em;
  width: 3em;
}

.sidebar-navigation svg {
  height: 1.5em;
  width: 1.5em;
}

.header {
  grid-area: 1 / 2 / 2 / 6;
}

.main {
  grid-area: 2 / 2 / 6 / 6;
  background-color: #e2e8f0;
}

.top-header {
  display: grid;
  grid-template-columns: 0.3fr 6fr 50px 50px 150px;
  align-items: center;
  padding: 20px;
  gap: 5px;
}

.top-header svg {
  width: 1.5em;
  height: 1.5em;
}

.search-bar {
  background-color: #e2e8f0;
  width: clamp(100px, 80%, 30em);
  height: 25px;
  border-radius: 10px;
}

.top-header :nth-child(n + 3):nth-child(-n + 5) {
  justify-self: flex-end;
}

.bottom-header {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  grid-template-columns: 100px 2fr 100px 100px 100px;
  padding: 20px;
}

.bottom-header svg {
  width: 4em;
  height: 4em;
}

.welcome-user {
  justify-self: flex-start;
  font-weight: bold;
}

.welcome-user p:nth-child(2) {
  font-size: 1.3em;
  margin-top: -18px;
}

.bottom-header button {
  justify-self: flex-end;
  background-color: #1992d4;
  padding: 10px;
  border-radius: 10px;
  width: 5em;
  color: aliceblue;
  border: none;
}
